doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Bricks
        link(rel="stylesheet", href="assets/style/styles.css")
        script(type="module", src="app.js")
    body
        h1 Game of Bricks!
        canvas#gameCanvas(width=1600, height=900)